<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<h2>Library Patrons</h2>
		<table>
			<thead>
			<tr>
				<th>Title</th>
				<th>Aurthor FirstName</th>
				<th>Aurthor Last Name</th>
				<th>Barcode</th>
			</tr>
			</thead>
			<tbody>
				<tr></tr>
				<tr th:each="book : ${books}">
					<td><span th:text="${book.title}"></span></td>
					<td><span th:text="${book.aurthorFirst}"></span></td>
					<td><span th:text="${book.aurthorLast}"></span></td>
					<td><span th:text="${book.barcode}"></span></td>
					<td><a th:href="@{/update/{ID_number}(ID_number = {$patron.ID_number}) }" >Edit Book</a></td>
					<td><a th:href="@{/delete/{ID_number}(ID_number = {$patron.ID_number}) }" >Delete Book</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>